<nav style="background-color: #e3f2fd;">
    <ul>
        <a class="nav-link" href="/">Data View 0</a>
        <a class="nav-link" href="/ds1">Data View 1</a>
        <a class="nav-link" href="/ds2">Data View 2</a>
    </ul>
</nav>