<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<h1>Historical Data</h1>
<div class="wrapper">
  <canvas id="Chart"></canvas>
</div>
<script>

  const labels = [
      {{#each info.cases}}
          '{{@key}}',
      {{/each}}
  ];

  const data = {
    labels: labels,
    datasets: [{
      label: 'Cases',
      backgroundColor: 'rgb(255, 99, 132)',
      borderColor: 'rgb(255, 99, 132)',
      data: [{{#each info.cases}}
          {{this}},
      {{/each}}],
    },
    {
      label: 'Deaths',
      backgroundColor: 'rgb(0, 99, 132)',
      borderColor: 'rgb(0, 99, 132)',
      data: [{{#each info.deaths}}
          {{this}},
      {{/each}}],
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {
        scales: {
            y: {
                display: true,
                title: {
                    display: true,
                    text: '# of peoples'
                }
            },
            x: {
                display: true,
                title: {
                    display: true,
                    text: 'dates'
                }
            }
        }
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('Chart'),
    config
  );
</script>